.cart-grid {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cart-grid-item {
    padding: 8px;
    display: flex;
    border: 3px solid black
}

.cart-grid-item img {
    max-width: 200px;
    margin-right: 8px;
}

.cart-grid-item-textarea {
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-grid-item-nameprice {
    display: flex;
    justify-content: space-between;
}

.cart-grid-item-nameprice > h4 {
    font-weight: bold;
} 

.cart-grid-item-qty {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cart-grid-item-qty h4 {
    margin-right: 8px;
}

.cart-grid-item-qty button {
    padding: 0;
    width: 45px;
}

@media screen and (max-width: 480px) {
    .cart-grid-item {
        flex-direction: column;
    }

    .cart-grid-item img {
        max-width: 100%;
        margin-right: 0;
    }

    .cart-grid-item-nameprice {
        display: block;
    }
}