header {
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #cecece
}

nav {
    display: flex;
    gap: 16px;
    align-items: center;
}

header img {
    width: 24px;
}

header .cart {
    width: 28px;
}

@media screen and (max-width: 428px) {
    header {
        padding: 16px;
    }
}