.cart-page-parent {
    width: 100%;
    padding: 0 32px;
}

.cart-page {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
    column-gap: 64px;
}

.cart-cartarea {
    grid-column-start: 1;
    grid-column-end: 6;
}

.cart-cartarea > h3 {
    padding: 16px;
}

.cart-checkoutarea {
    grid-column-start: 6;
    grid-column-end: 8;
}